# Flask Configuration
SECRET_KEY=Dq9DqFpbl1Uc9W7D0JaVUhRRJA8OJb/Or8Ju0WxjDy4=
JWT_SECRET_KEY=S5AuYbu0cKuQKT11azUu0BJ2AJKhV4UPVseUFr7QDdY=

# Database
DATABASE_URL=sqlite:///app.db

# Strapi Integration
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=your-strapi-api-token-here

# Flask Server
PORT=5001
FLASK_ENV=development
# Telegram Notifications
TG_BOT_TOKEN=""
TG_NOTIFY_CHAT_ID=""
